* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 15px;
}
.refresh-button {
  background-color: #000;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.quote-wrapper {
  background-color: #015659;
  padding: 1rem;
  color: #fff;
  font-size: 18px;
  border-radius: 0.5rem;
}
